torch==2.2.0
torchaudio==2.2.0
torchvision==0.17.0

accelerate==0.26.0
pydantic==2.7.4
pydantic-settings==2.0.3
PyYAML==5.3.1
annotated-types==0.6.0
Pillow==10.0.1
controlnet-aux==0.0.7
diffusers==0.31.0
compel==2.0.2
mediapipe==0.10.18
validators==0.22.0
tqdm==4.66.3
numpy==1.26.2
scipy==1.11.4
requests==2.32.2
peft==0.11.1
datasets==3.1.0
